.banner_container {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    animation: gradient 10s ease infinite;
    background: linear-gradient(270deg, rgba(3, 193, 255, 0.1), rgba(255, 255, 255, 0.54), rgba(0, 92, 124, 0.3));
    background-size: 400% 400%;


}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}