.container:hover .showThemeForm {
    opacity: 1;
}

.showThemeForm {
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.container1:hover .showThemeForm1 {
    display: block;
}

.showThemeForm1 {
    display: none;
}